@keyframes change {
    0% {color:black }
    25% {color: gray; }
    50% {color:tan}
    75% {color: brown }
    100%{color: black;}
}

h1 {color:skyblue;border: 1px solid whitesmoke;padding: 1px;
    animation-name: change;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    }

    a:link {
        background-color: gainsboro;
        color:black;
        padding: 1px 1px;
        text-align: center;
        display: inline-block;
    }
    a:visited {
        color:black;
    }
    a:hover {
        color: tan;
    }
    a:active {
        color:lightslategray
    }